<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <properties resource="db.properties"/>
  <settings>
    <setting name="mapUnderscoreToCamelCase" value="true"/>
    <setting name="jdbcTypeForNull" value="NULL"/>
  </settings>
  <typeAliases>
    <package name="kr.inventory"/>
  </typeAliases>
  <environments default="development">
    <environment id="development">
      <transactionManager type="JDBC"/>
      <dataSource type="POOLED">
        <property name="driver" value="${driver}"/>
        <property name="url" value="${url}"/>
        <property name="username" value="${username}"/>
        <property name="password" value="${password}"/>
      </dataSource>
    </environment>
  </environments>
  <mappers>
    <mapper resource="mapper/member-mapper.xml"/>
    <mapper resource="mapper/goods-mapper.xml"/>
    <mapper resource="mapper/warehouse-mapper.xml"/>
    <mapper resource="mapper/category-mapper.xml"/>
    <mapper resource="mapper/stock-mapper.xml"/>
    <mapper resource="mapper/request-mapper.xml"/>
    <mapper resource="mapper/dashboard-mapper.xml"/>
  </mappers>
</configuration>
